<%= form_for idea do |f| %>
  <%= f.hidden_field :user_id %>

  <% unless idea.errors.empty? %>
    <div id="error_explanation" class='errors'>
      <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li class='error'><%= message %>.</li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, :id => 'idea-title' %><br />
      <div id='idea-similar'></div>
    </li>
    <li>
      <%= f.label :description, 'Description' %>
      <%= f.text_area :description %><br />
      <p class="tooltip"><%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax' %> enabled.</p>
    </li>
    <li><%= f.submit "#{ idea.persisted? ? "Edit Idea" : "Create Idea" }", class: 'submit' %></li>
  </ul>
<% end %>
