<li class="idea">
  <div class="vote left">
    <div class="vote-value"><%= idea.plusminus %></div>
    <%= button_to raw('&#9650;'), { :action => :vote, :id => idea.id, :vote => :up }, :method => :post, :class => 'vote-button up' %>
    <%= button_to raw('&#9660;'), { :action => :vote, :id => idea.id, :vote => :down }, :method => :post, :class => 'vote-button down' %>
  </div>
  <div class="info right">
    <div class="idea-title tertiary-heading"><%= link_to idea.title, idea_path(idea) %></div>
    <div class="idea-description"><%= truncate(idea.description, length: 150) %></div>
    <div class="details">
      <div class="author"><%= gravatar_image_tag(idea.user.email, class: 'gravatar', :gravatar => { :secure => true }) %></div>
      <div class="published"><%= idea.created_at.strftime('%B %d, %Y') %></div>
      <div class="comments">(<%= pluralize idea.comments.count, 'Comment' %>)</div>
      <div class="view"><%= link_to 'View', idea_path(idea) %></div>
    </div>
  </div>
</li>
