.sidebar
  = link_to 'New Idea', new_idea_path, class: 'button'
  %p Submit your ideas for the #{t(:site_name)} event here so attendees can begin thinking and planning for them. Other's will vote and review the ideas to help get the best ones.
  %h3.tertiary-heading We're Inspired By
  %ul.list
    %li= link_to 'SFpark', 'http://sfpark.org'
    %li= link_to 'Street Bump', 'http://streetbump.org'
    %li= link_to 'Rate Your Ride (MTA)', 'http://rateyourride.org'
    %li= link_to 'WiggleMap', 'http://wigglemap.com'
    %li= link_to 'Side-by-Side Router', 'http://mvjantzen.com/tools/modes.html'
    %li= link_to 'Code for America Transportation Apps', 'http://commons.codeforamerica.org/civic-function/transportation'
    %li= link_to 'Transit Space Race', 'http://reconnectingamerica.org/spacerace/spaceracemap.html'
