.container
  .two
    %h2.secondary-heading Contact
    = form_for @contact do |f|
      - unless @contact.errors.empty?
        #error_explanation.errors
          %ul
            - @contact.errors.full_messages.each do |message|
              %li.error
                = message
                \.
      %ul
        %li
          = f.label :name
          = f.text_field :name
        %li
          = f.label :email
          = f.text_field :email
        %li
          = f.label :subject
          = f.text_field :subject
        %li
          = f.label :body
          = f.text_area :body
        %li
          = f.submit 'Send Message', class: 'submit'
  .one.last
    %h3.tertiary-heading Got a Question?
    %p If you have a question about attending the event, sponsoring the event, or anything else related to Idea Site or getting around in Balitmore, let us know!
    %p We're trying to change the way people get around. Get involved.
